<ul  class="header-administration" style="overflow-x: auto;">
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/organization']">{{language.cong_ty}}</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/site']">{{language.dia_diem}}</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/locations']">{{language.vi_tri}}</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/categories']">{{language.danh_muc}}</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/users']">{{language.nguoi_dung}}</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/clients']">Access token</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/importdata']"  >{{language.nhap_du_lieu}}</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/zalosender']" *ngIf="showMenu">OA Zalo</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/zalofollower']" *ngIf="showMenu">Zalo Follower</a></li>
  <li style=" white-space:nowrap" routerLinkActive="active"><a [routerLink]="['/general/emailconfig']">Email Config</a></li>
  <!-- Ẩn Menu Footfall Setting -->
  <li style=" white-space:nowrap" routerLinkActive="active"> <a
    [routerLink]="['/footfall/setting/user-mail']">{{language.email_nhan_bao_cao_dinh_ky}}</a></li>
</ul>