/* Update: 11-03-2019 */
/* Cập nhật menu tree chọn địa điểm*/
body{
  font-family: Roboto,sans-serif;
}
.bread-custom{
  line-height: 25px;
}

.card-administration{
  background: #f0f3f5;
}
.select-white{
  background: white;
}
.label-admi{
  font-weight: bold;
}
input.nofocus {
  border: 1px solid #ddd;
  border-radius: unset !important;
  height: 31px;
}
input.nofocus:focus{
  box-shadow:unset;
  border-radius: unset !important;
}
.formsearch{
  padding-left: 0px;
  margin-bottom: 0px;
}
ng-select.backselect{
  background: white;
}
ng-select.backselect .below{
  background: white;
}
ng-select.backselect .clear{
  display: none;
}
ng-select.select-white>div:focus,input.select-white:focus{
  border-color: rgba(82,168,236,.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
.buton-search{
  height: 30px;
  line-height: 15px;
}
.buton-search:hover {
  background: #e6e6e6;
}
.btn-them{
  color:#333;
   background-color: #f5f5f5;
   border-color: rgba(0,0,0,.1)rgba(0,0,0,.1)#b3b3b3;
}
.btn-huy{
  margin-right: 8px;
  background-color: #e5e5e5;
  color: #23282c;
  border-color: #e5e5e5
}
.btn-them:focus{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  color:#333;
  background-color: #f5f5f5;
  border-color: rgba(0,0,0,.1)rgba(0,0,0,.1)#b3b3b3;
}
.error-message{
  color: crimson;
  font-style: italic;
}
.form-no-marbottom{
  margin-bottom: 3px;
}
.form-no-marbottom >.lh-label{
  line-height: 35px;
 }
.form-no-marbottom ng-select>div:focus,.form-no-marbottom input:focus{
  border-color: rgba(82,168,236,.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}
/*--------------Phần table-----------------*/
.table-fba-tablet table thead th{
  border-bottom: 1px solid #c8ced3 !important;
  border-top: unset !important;
}
.table-fba-tablet table tbody tr td{
  padding: 0.6rem 0.35rem;
  vertical-align: middle;
}
.modal-footer,.modal-header{
  padding: 5px 1rem;
}
.fba-location_filter_table
{
  margin-left: 0px;
  margin-right: 0px;
}
table.fba-location_table
{
  text-align: center
}
.fba-location_filter_table ul
{
    width: 100%;
	  padding: 0;
    height: 30px;
    margin-bottom: 0px;
}
.fba-location_filter_table li
{
    list-style: none;
}
.fba-location_filter_table li>a
{
    color: #20a8d8;
    cursor: pointer;
}
.fba-location_filter_table li>a:hover
{
    text-decoration: underline;
}
.fba-location_filter_table li:nth-child(1)
{
    float: left;
}
.fba-location_filter_table li:nth-child(2)
{
    float: right;
}
.fba-location_filter_table li:nth-child(2) .input_filter_table
{
	width: 130px;
	padding-left: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15), 0 0 0px rgba(82,168,236,.2);
	outline: none;
	border: 1px solid #ddd;
}
.fba-location_filter_table li:nth-child(2) .input_filter_table:focus,.fba-location_filter_table .select_cus_table:focus
{
	/* box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);    */
    border-color: rgba(82,168,236,.8);
}
.fba-location_filter_table .select_cus_table
{
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15), 0 0 0px rgba(82,168,236,.2);
}
tfoot.fba-tablet-list-tfoot ul.pagination{
	float: right;
	margin-bottom: -1rem;
}
tfoot.fba-tablet-list-tfoot tr td{
  padding: 3px 0 3px 3px;
}
.fba-location_filter_table #showrow select
{
    padding: 1px 5px;
    border-radius: 0px;
    border-color: #ddd;
}
/*Modal hỏi xóa*/
.box-shadow
{
  box-shadow: 2px 2px 3px rgba(2, 2, 2, 0.24) !important;
}

/* Khung địa điểm*/
.khung-location-location{
	position: absolute;
  left: 4.2%;
  width: 92%;
	height: 220px;
	overflow: hidden ;
	background: white;
	border-radius: 3px;
	z-index: 10;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}
.khung-location-location #khung-location-scroll{
	overflow-y: scroll;
	height: 100%;
}
ul#ul-location{
	padding: 0;
	margin: 0;
}
.khung-location-location li{
	padding: 8px 0 8px 8px; ;
	cursor: pointer;
	padding-left: 10px ;
	list-style: none;
}
.khung-location-location > input{
	padding: 20px 8px 8px 8px;
}
.khung-location-location input:focus{
    color: #5c6873;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
.khung-location-location > li:hover{
	background-color: rgba(0, 0, 0, 0.08);
}
.location{
	font-size: 17px;
}
.khung-location-location .menu-0
{
  width:100%;
  font-weight: bold;
}
.khung-location-location .menu-1
{
	margin-left: 25px;
	border-left: 1px dotted #a19292;
	width: calc(100% - 25px)!important;
}
.khung-location-location .menu-2
{
	margin-left: 35px;
    border-left: 1px dotted #a19292;
	width: calc(100% - 35px)!important;
}
.khung-location-location .menu-3
{
	margin-left: 45px;
	border-left: 1px dotted #a19292;
	width: calc(100% - 45px)!important;
}
.khung-location-location .menu-4
{
	margin-left: 55px;
    border-left: 1px dotted #a19292;
	width: calc(100% - 55px)!important;
}
.khung-location-location .menu-5
{
	margin-left: 65px;
	border-left: 1px dotted #a19292;
	width: calc(100% - 65px)!important;
}
.khung-location-location .menu-6
{
	margin-left: 75px;
	border-left: 1px dotted #a19292;
	width: calc(100% - 75px)!important;
}
li.active
{
    color: #1f8ad9!important
}
.config-text-location{
  padding: 0 ;
}

@media only screen and (max-width: 452px){
	.fba-location_filter_table li:nth-child(2) .input_filter_table{
		width:110px;
  }
  .font-span-table{
		font-size: 12px;
	}
}
