<block-ui></block-ui>
<div class="row">
  <div class="container-fluid">
    <!-- <script src="ace-builds/src-min/ace.js"></script> -->
    <div class="animated fadeIn">
      <div class="card card-parent">
        <div class="card-header">
          <div class="row liveform">
            <ul>
              <li style="height: 32px;">
                <app-menutree (submit_menu)="get_emit_menu($event)"></app-menutree>
              </li>
              <li>
                <span class="giomocua" style="margin-right:5px;">{{language.gio_mo_cua}}</span>
                <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-right:10px;">
                  <!-- <ng-select class="bootstrap selecttimeview below giomocua" [options]="startTimeOption" [allowClear]="false" [(ngModel)]="open_time"></ng-select> -->
                  <ng-select class="bootstrap selecttimeview below giomocua" [items]="startTimeOption" bindLabel="label"
                             bindValue="value" [clearable]=false [(ngModel)]="open_time"></ng-select>
                </div>
                <button style="border-radius: unset !important;" type="button" class="btn btn-primary buttonview"
                        (click)="get_live()">
                  {{language.ap_dung}}
                </button>
              </li>
              <li>
                <div class="btn-group float-right" dropdown>
                  <button style="border-radius: unset !important;margin-left: 10px;" dropdownToggle type="button"
                          class="btn btn-primary dropdown-toggle float-right dis-645 buttonxuat">
                    {{language.xuat_bao_cao}}
                  </button>
                  <ul *dropdownMenu class="dropdown-menu float-right" role="menu">
                    <li role="menuitem">
                      <a style="cursor: pointer;" class="dropdown-item float-right"
                         (click)="exportExcel()">{{language.xuat_ra_excel}}</a>
                    </li>
                    <!-- <li role="menuitem"><a class="dropdown-item float-right" href="#">Xuất ra PDF</a></li> -->
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Show cac bieu do -->
        <div class="card-body ">
          <!-- hang 1  -->
          <div class="row">
            <!-- cot 1 hang 1 -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <!-- <span><img id="" src="assets/img/avatars/live.png"></span> -->
                  <h1 id="label_now">
                    {{language.ngay_bay_gio}}
                  </h1>
                  <!-- <h4 id="">{{language.day}} {{curent_year}} {{language.thang}} {{curent_month}} {{language.nam}}  {{curent_day}} ,
                     <span style="color: orange">{{curent_hour}} {{language.gio}} {{curent_minute}} {{language.phut}}</span></h4> -->
                  <h4 id="">
                    {{curent_year}}-{{curent_month}}-{{curent_day}}
                    <span style="color: orange">{{curent_hour}}:{{curent_minute}}:{{seconds}}</span>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <span id="1" style="font-size:60px">{{live_occupancy_data  | number:'1.0-2'}} </span>
                  <ng-template #tolTemplate>
                    {{language.khach_hang_dang_mua_sam}}<label>
                      {{occupancy_str_compare  | number:'1.0-2'}}
                      {{language.so_voi_hom_qua}}
                    </label>
                  </ng-template>
                  <span><img id="" src="assets/img/avatars/{{ occupancy_updown }}" placement="right"></span>
                  <h6 id="">{{language.khach_hang_dang_mua_sam}}</h6>
                </div>
                <div #chart_occupancy class="bieudo1 col-md-7"></div>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
              <div class="row">
                <div class="col-md-12">
                  <h1 id="label_now"> &nbsp; </h1>
                  <h4> {{language_index_vn.Visitors}} </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <span id="1" style="font-size:60px">{{live_enters_data | number:'1.0-2'}} </span>
                  <ng-template #contentvisit>
                    <label>
                      {{enters_str_compare | number:'1.0-2'}}
                      {{language.so_voi_hom_qua}}
                    </label>
                  </ng-template>
                  <span><img id="" src="assets/img/avatars/{{enters_updown}}" placement="right"></span>
                  <h6 id=""> {{language.so_luong_khach_hien_tai}}</h6>
                </div>
                <div #chart_enter class="bieudo1 col-md-7"></div>
              </div>




              <!-- <div class="row">
                <div class="col-md-6">
                  <h5 id="">Visitors <br /> <span style="font-size: 80%"> Số lượng khách hàng tới mua sắm đến thời điểm
                      hiện tại</span></h5>
                  <span id="" style="font-size:60px">{{live_enters_data  | number}}</span>
                  <ng-template #contentvisit><label>{{enters_str_compare  | number}} So với ngày hôm qua</label></ng-template>
                  <span>
                    <img id="" src="assets/img/avatars/{{enters_updown}}" placement="right">
                  </span>
                </div>
                <div class="col-md-6">
                  <div #chart_enter class="bieudo1 float-right"></div>
                </div>
              </div> -->
              <!-- <div class="row">
                <div class="col-md-6">
                  <h5 id="">Exits<br /> <span style="font-size: 80%"> Số lượng khách hàng tới mua sắm đã rời đi</span>
                  </h5>
                  <span id="" style="font-size:60px">{{live_exits_data  | number}}</span>
                  <ng-template #contentexit><label>{{exits_str_compare  | number}} So với ngày hôm qua</label></ng-template>
                  <span>
                    <img id="" src="assets/img/avatars/{{exits_updown}}" placement="right">
                  </span>
                </div>
                <div class="col-md-6">
                  <div #chart_exits class="bieudo1"></div>
                </div>
              </div> -->


            </div>
            <!--  <table class="tbl1-2">
                <tr style="height:50%">
                  <td style="border-left:40px">
                  </td>
                  <td style="width:55%; border-right:100px">
                    <div #chart_exits class="bieudo1"></div>
                  </td>
                </tr>
              </table> -->
          </div>
        </div>

        <div class="card-footer" style="background-color:white;border-top:1px dotted #a7a4a4">

          <!--them vao history time customer activity  -->

          <div class="timeview col-md-12">
            <ul style="padding-left: 0px; margin:0px;">
              <li class="khungchonthoigian">
                <!-- <ng-select class="bootstrap selecttimeview" [options]="startTimeOption" [allowClear]="false" [(ngModel)]="start_time"></ng-select> -->
                <ng-select class="bootstrap selecttimeview" [items]="startTimeOption" bindLabel="label"
                           bindValue="value" [clearable]=false [(ngModel)]="start_time"></ng-select>
                <span>-</span>
                <!-- <ng-select class="bootstrap selecttimeview" [options]="endTimeOption" [allowClear]="false" [(ngModel)]="end_time"></ng-select> -->
                <ng-select class="bootstrap selecttimeview" [items]="endTimeOption" bindLabel="label" bindValue="value"
                           [clearable]=false [(ngModel)]="end_time"></ng-select>

              </li>
              <li style="padding-left: 5px;" class="cotthoigian">
                <div class="select-date-view">
                  <app-timeperiod (submit_date)="get_date_from_emit($event)"></app-timeperiod>
                </div>
              </li>
              <li>
                <!-- <ng-select class="bootstrap selectTimePriod" [options]="timePriodOption" [allowClear]="false" [(ngModel)]="level_traffic"></ng-select> -->
                <ng-select class="bootstrap selectTimePriod" [items]="timePriodOption" bindLabel="label"
                           bindValue="value" [clearable]=false [(ngModel)]="level_traffic"></ng-select>
                <button style="border-radius: unset !important;" type="button" class="btn btn-primary buttonview"
                        (click)="getTrafficDataHistory()">
                  {{language.xem}}
                </button>
              </li>
            </ul>


          </div>
          <div class="row">
            <div class="col-sm-5"> </div>
            <div class="col-sm-7 d-none d-md-block">
              <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                <button type="button" class="btn btn-outline-secondary btnchart {{showChart == 1 ? 'box-shadown' : ''}}"
                        (click)="ClickshowChart(1)">
                  <img src="assets/img/avatars/linechart.jpg">
                </button>
                <button type="button" class="btn btn-outline-secondary btnchart {{showChart == 2 ? 'box-shadown' : ''}}"
                        (click)="ClickshowChart(2)">
                  <img src="assets/img/avatars/barchart.jpg">
                </button>
                <button type="button" class="btn btn-outline-secondary btnchart {{showChart == 3 ? 'box-shadown' : ''}}"
                        (click)="ClickshowChart(3)">
                  <img src="assets/img/avatars/tblchart.jpg">
                </button>
              </div>
            </div>
          </div>
          <!-- button chon bieu do -->
          <div class="row">
            <!-- div class="col-md-1"> -->
            <!-- <button type="button" class="btn btn-primary btn-group" (click)="highclasschart()"> high level class</button> -->
            <!-- </div> -->
            <div style="min-height:350px;" class="col-12 col-sm-12 col-md-12">
              <!-- <div #container5></div> -->
              <!-- mặc định hiển thị biểu đồ high level class ở vị trí địa điểm quyền cao nhất ?? -->
              <div #container_historyLineChart [hidden]="showChart == 2 || showChart == 3 || show_error == true "></div>
              <div #container_historyColumnChart [hidden]="showChart == 1 || showChart == 3 || show_error == true">
              </div>
              <div style="margin-bottom: -1rem;" [hidden]="showChart == 1 || showChart == 2 || show_error == true"
                   class="table-responsive">
                <table style="width: 100%;min-width: 900px;" [mfData]="data_history" #mf="mfDataTable"
                       [mfRowsOnPage]="20" id="table" class="table table-striped">
                  <thead>
                    <tr>
                      <th style="min-width:250px"></th>
                      <th style="min-width:250px"> {{language_index_vn.Visitors}}</th>
                      <th style="min-width:250px">{{language_index_vn.Exits}}</th>
                      <th style="min-width:250px">{{language_index_vn.Traffic}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>
                        <b>{{total_visit | number:'1.0-2'}}</b> <br><span class="spancell">{{language.tong_khach_vao}}</span>
                      </td>
                      <td>
                        <b>{{total_exit | number:'1.0-2'}}</b><br><span class="spancell">{{language.tong_khach_ra}}</span>
                      </td>
                      <td>
                        <b>{{total_traffic | number:'1.0-2'}}</b><br><span class="spancell">{{language.tong_khach_vao_ra}}</span>
                      </td>
                    </tr>
                    <tr *ngFor="let item of mf.data">
                      <td>{{item.time_period}}</td>
                      <td>
                        {{item.num_to_enter | number:'1.0-2'}} <span class="spancell">({{Go_number(item.num_to_enter,total_visit)}}%)</span>
                      </td>
                      <td>
                        {{item.num_to_exit | number:'1.0-2'}} <span class="spancell">({{Go_number(item.num_to_exit,total_visit)}}%) </span>
                      </td>
                      <td>
                        {{item.traffic | number:'1.0-2'}}  
                      </td>
                    </tr>
                  </tbody>
                  <tfoot class="heatmap_table-tfoot">
                    <tr>
                      <td colspan="3">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <ng-container *ngIf="show_error">
                <div class="show_info_error">
                  <i class="fa fa-exclamation-triangle yellow">&nbsp;</i>{{language.khong_the_ket_noi}}.
                  {{language.vui_long}}<a (click)="get_data();"
                                          style="color: #ac8e49; cursor: pointer;">&nbsp;{{language.bam_vao_day}}&nbsp;</a>{{language.de_tai_lai}}
                </div>
              </ng-container>
            </div>
          </div>
          <div id="divbaocao" style="float: right; font-size: 11px">
            {{language.bao_cao_duoc_tao}}
            {{time_generate_report | date:  'dd/MM/yyyy'}} {{language.luc}}
            {{time_generate_report | date: 'hh:mm:ss'}} -
            <span style="color:blue; cursor:pointer;" (click)="reset_session()">{{language.lam_moi_bao_cao}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{language.Thong_bao}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      {{language.Co_loi_xay_ra_Vui_long_nhan}}<a style="color: blue; cursor: pointer;" (click)="reset_session()">
        {{language.bam_vao_day}}
      </a> {{language.de_tai_lai}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="reset_session()">{{language.Tai_lai}}</button>
  </div>
</ng-template>
