<main>
  <div class="row">
    <div class="col-md-12">
      <app-fbamenu></app-fbamenu>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="color:cornflowerblue" [routerLink]="['/fba/setting/question/list-question']"><i
              class="fa fa-home" aria-hidden="true"></i>
            Admin</a></li>
        <li class="breadcrumb-menu ">
          <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn add-question" [routerLink]="['/fba/setting/question/add-question']">
              <i style="color: white" class="fa fa-plus" aria-hidden="true"></i> &nbsp;{{language.them_cau_hoi}}
            </a>
          </div>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-parent">
        <block-ui></block-ui>
        <div class="card-body header-admin-question" style=" padding: 0px;">
          <div class="row">
            <div class="col-md-4 col-4">
              <div class="form-group col-md-12">
                <label class="col-form-label" for="password">{{language.ten_to_chuc}}</label>
                <ng-select class="bootstrap selectimeview" [options]="organization_arr" [(ngModel)]="org_selected"
                  (selected)="thaydoitochuc($event)" [allowClear]="true">
                </ng-select>
                <!-- [(ngModel)]="org_selected"  -->
              </div>
            </div>
            <div class="col-md-4 col-4">
              <div class="form-group col-md-12">
                <label class="col-form-label" for="password">{{language.tinh_trang_to_chuc}}</label>
                <ng-select class="bootstrap selectimeview" [options]="status_question"
                  [(ngModel)]="status_question_selected" (selected)="thaydoistatus($event)" [allowClear]="true">
                </ng-select>
              </div>
            </div>
            <div class="col-md-4  col-4">
              <div class="form-group col-md-12">
                <label class="col-form-label" for="password"> {{language.trang_thai_cau_hoi}} </label>
                <ng-select class="bootstrap selectimeview" (selected)="changedeted($event)" [options]="deleted_question"
                  [(ngModel)]="deleted_question_selected" [allowClear]="true">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-table" [hidden]="hienkhung">
      <div class="card">
        <span class="table-quality-close" (click)="hienkhung=true">×</span>
        <div style=" padding: 0.25rem 1.25rem 1.25rem 1.25rem;" class="card-body">
          <table style=" margin-bottom: 0 !important;width:100%"
            class="table table-bordered datatable table-striped table-sm">
            <tbody>
              <tr style="text-align: center;">
                <td><img *ngIf="data2.very_positive_img" class="img-responsive" style="width:40px;"
                    [src]="'data:image/png;base64,'+data2.very_positive_img" alt=""></td>
                <td><img *ngIf="data2.positive_img" class="img-responsive" style="width:40px;"
                    [src]="'data:image/png;base64,'+data2.positive_img" alt=""></td>
                <td><img *ngIf="data2.negative_img" class="img-responsive" style="width:40px;"
                    [src]="'data:image/png;base64,'+data2.negative_img" alt=""></td>
                <td><img *ngIf="data2.very_negative_img" class="img-responsive" style="width:40px;"
                    [src]="'data:image/png;base64,'+data2.very_negative_img" alt=""></td>
              </tr>
              <tr style="text-align: center;">
                <td>{{data2.very_positive}}</td>
                <td>{{data2.positive}}</td>
                <td>{{data2.negative}}</td>
                <td>{{data2.very_negative}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- khung popup-table -->
    <div class="khung-black" [hidden]="hienkhung" (click)="hienkhung =true">
    </div>
    <!-- khung popup-table -->
  </div>
  <!-- Kết thúc header -->
  <div class="row">
    <div class="col-lg-12">
      <!-- <div [hidden]="show_alert" *ngFor="let item of messenger" class="alert alert-success" role="alert">
                 {{item.id}}
          </div> -->
      <div class="card card-parent">
        <div class="card-header card-font">
          <i class="fa fa-list-alt" aria-hidden="true"></i> <span>{{language.danh_sach_cau_hoi}}</span>
        </div>
        <div class="card-body card-table">
          <div style="width:100%" class="question-list table-responsive">
            <div class="row question-list_filter_table">
              <ul>
                <li id="showrow">
                  <span class="font-span-table">{{language.so_dong}} &nbsp;</span>
                  <select class="input-sm select_cus_table" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="5"> &nbsp; 5</option>
                    <option [ngValue]="15">15</option>
                    <option [ngValue]="30">30</option>
                    <option [ngValue]="50">50</option>
                  </select>
                </li>
                <li><span class="font-span-table">{{language.tim_kiem}} &nbsp;</span><input type="text"
                    class="input_filter_table" (keyup)="search_table($event.target.value)"></li>
              </ul>
            </div>
            <table [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" style="width: 100%;min-width: 900px"
              class="table  table-striped">
              <thead>
                <tr>
                  <th style="width: 50px;text-align:center">{{language.STT}}</th>
                  <th style="width: 190px;text-align:center">{{language.chien_dich}}

                  </th>
                  <th style="width: 210px;;text-align:center">{{language.ten_cau_hoi}}</th>
                  <th style="width: 110px;;text-align:center">
                    <mfDefaultSorter by="start_time">{{language.thoi_gian_bat_dau}} <i
                        style="color:#c8ced3;font-size: 12px" class="fa fa-sort">&nbsp;</i>
                    </mfDefaultSorter>
                  </th>
                  <th style="width: 110px;text-align:center">
                    <mfDefaultSorter by="end_time">{{language.thoi_gian_ket_thuc}} <i
                        style="color:#c8ced3;font-size: 12px" class="fa fa-sort"></i></mfDefaultSorter>
                  </th>
                  <th style="width: 90px;text-align:center">{{language.trang_thai}}</th>
                  <th style="width: 120px;text-align:center"> {{language.xu_ly_}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mf.data;let i = index">
                  <td style="width: 40px;text-align:center">{{i+1}}</td>
                  <td>{{item.campaign_name}}</td>
                  <td style="color: cornflowerblue;cursor: pointer;padding-left: 10px" (click)="dulieuthaydoi(item)"><a
                      title="Chi tiết đánh giá">{{item.question_name}}</a></td>
                  <td class="table-td-start-time">{{item.start_time | date:'dd/MM/yyyy'}}</td>
                  <td class="table-td-end-time">{{item.end_time | date: 'dd/MM/yyyy'}}</td>
                  <td class="table-td-bat-tat"> <span
                      class="badge {{item.actived == true ? 'badge-success' : 'badge-danger'}}">{{item.actived
                                 == true ? language.bat : language.tat}}</span></td>
                  <td class="table-td-xu-ly">
                    <a class="btn btn-info" routerLink="/fba/setting/question/update-question/{{item.id}}">
                      <i class="fa fa-edit"></i> </a> &nbsp;
                    <a *ngIf="item.deleted == 0 && can_delete && item.organization_id !== 0" class="btn btn-danger"
                      (click)="modal_question(item.id,dialog)"> <i class="fa fa-trash-o"></i>
                    </a>
                    <a *ngIf="item.deleted == 1 && can_delete" class="btn btn-danger"
                      (click)="modal_recycle_question(item.id,dialogs)"> <i class="fa fa-recycle"
                        aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                <tr></tr>
                <tr>
                  <td colspan="7" *ngIf="data?.length === 0"
                    style="color:gray;font-style:italic; text-align: center; white-space: pre;">
                    <span>{{language.khong_co_du_lieu}}</span>
                  </td>
                </tr>
              </tbody>
              <tfoot class="question-list-tfoot">
                <tr>
                  <td colspan="7">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                    <!-- [rowsOnPageSet]="[5,10,25]" show bao nhieu thi chon -->
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- Model hỏi xóa -->
      <ng-template #dialog>
        <div class="modal-body box-shadow">
          <div class="row">
            <div class="col-md-12 mb-3">
              <div id="border-remove">
                <i class="fa fa-remove fa-3x"></i>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <h3>{{language.ban_co_chac_chan_muon_xoa}}</h3>
              <p>{{language.xac_nhan_xoa}}</p>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-danger pr-4 pl-4 mr-2" (click)="delete_question()"
                style="background:#9c1b1b; border-color: #9c1b1b;">{{language.xoa}}</button>
              <button (click)="modalRef.hide()" style="margin-right: 8px;" class="btn btn-huy active pr-4 pl-4">
                {{language.dong}}</button>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- Model hỏi khôi phục -->
      <ng-template #dialogs>
        <div class="modal-body box-shadow">
          <div class="row">
            <div class="col-md-12 mb-3">
              <div id="border-remove">
                <i class="fa fa-remove fa-3x"></i>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <h3>{{language.ban_co_chac_chan_khoi_phuc}}</h3>
              <p>{{language.xac_nhan_khoi_phuc}}</p>
            </div>
            <div class="col-md-12 text-center">
              <button class="btn btn-danger pr-4 pl-4 mr-2" (click)="recycle_question()"
                style="background:#9c1b1b; border-color: #9c1b1b;">{{language.khoi_phuc}}</button>
              <button (click)="modalRef.hide()" style="margin-right: 8px;" class="btn btn-huy active pr-4 pl-4">
                {{language.dong}}</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</main>
