:host ::ng-deep {
    .ng-select.ng-select-single .ng-select-container {
      height: 30px !important;
    }
     .customer-info-tfoot ul.pagination {
      float: right;
      margin-bottom: -1rem;
    }
    .daterangepicker {
      top: 50px !important;
    }

  }
