<main>
  <app-usermenu></app-usermenu>
  <div class="row">
    <div class="container-fluid">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-parent">
              <div class="card-body" style="padding-top: 10px;">
                <div class="row mb-2">
                  <div class="col-md-12">
                    <h3><i class="icon-user" style="color: #f19925">&nbsp;</i>{{language.thong_tin_tai_khoan}}</h3>
                  </div>
                </div>
                  <div class=" row panel-body form-horizontal form-input-none">
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label class="control-label col-sm-3">{{language.ten_nguoi_dung}}</label>
                            <div class="col-sm-9">
                                <input  disabled value="{{username}}" type="text" class="form-control input-none">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">  {{language.quyen}}</label>
                            <div class="col-sm-9">
                                <input disabled type="text" value="{{userLever}}" class="form-control input-none">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3">{{language.ngay_kich_hoat}}</label>
                          <div class="col-sm-9">
                              <input type="text" disabled  value="{{created_at}}" class="form-control input-none">
                          </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label col-sm-3">Email</label>
                            <div class="col-sm-9">
                                <input disabled value="{{email}}" class="form-control input-none">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3"> {{language.to_chuc}} </label>
                            <div class="col-sm-9">
                                <input disabled type="text"  value="{{organization_name}}" class="form-control input-none">
                            </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3"> {{language.trang_thai}}</label>
                          <div class="col-sm-9">
                              <input disabled type="text" value="{{language.trang_thai_hoat_dong}}"   class="form-control input-none">
                          </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <block-ui></block-ui>
  <notifier-container></notifier-container>
</main>